@import url("https://fonts.google.com/specimen/Oswald?query=Oswald");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
nav,
div,
ul,
li,
input {
  font-family: Oswald;
  color: rgb(36, 24, 82);
}
nav {
  background-color: rgb(11, 90, 251);
}

h2 {
  text-align: center;
}
nav {
  text-shadow: 1px 1px cornsilk;
}
